<section class="product-details">
    <div class="details-container">
        <div class="details-text">
        <div class="product-name-row">Neoric Neon</div>
        <div class="product-description-row">Apple Watch Armband</div>
        <div class="product-price-row">
            <ul>
            <li class="product-old-price">24,99€</li>
            <li class="product-new-price">19,99€</li>
            <li class="product-price-info">inkl. MwSt.</li>
            </ul>
        </div>
        <div class="product-availability-row"><span style="font-size: 30px; padding-bottom: 4px">●</span> Auf Lager, in 2-3 Tagen bei dir</div>
        </div>
        <div class="add-to-cart-row">
        <button
            class="add-to-cart-button"
            data-variant-id="51034933985618">
            In den Einkaufswagen
        </button>
        </div>
    </div>
</section>