<header class="site-header">
  <div class="wrapper">
      <h1>
        <img 
          class="logo"
          src="{{ 'logo-neoric_10c0843e-64e6-440c-93d1-9e96932fad90_360x.jpeg' | asset_url }}"
          width="360"
          height="120"
        >
      </h1>
  </div>
</header>
