<section class="main-section j-center">
    <div class="column">
        <div class="product-section j-start">
            <div class="product-row">
                {% render 'product-gallery' %}
                {% render 'product-details' %}
            </div>
        </div>
        {% render 'product-benefits' %}
   </div>
</section>

{% schema %}
{
  "name": "Produkt-Layout",
  "settings": []
}
{% endschema %}




  